* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 auto;
  border: 2px dotted #5e4fdb;
}

.buttons {
  margin: 10px auto;
}

.operators {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.operators2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons2 {
  margin: 10px 10px;
}

.lastSection {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 2px dotted #5e4fdb;
  height: 400px;
}

/* ///////////////// Style for No Button //////////////////////  */

input[type="checkbox"].red {
  position: relative;
  width: 100px;
  height: 40px;
  background: #d64b4b;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

input[type="checkbox"].red::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 5px;
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  background: #fff;
  border-radius: 50%;
}

.no {
  left: 65px;
  transform: translateY(8px);
}

/* ///////////////// Style for YES Button //////////////////////  */

input[type="checkbox"].green {
  position: relative;
  width: 100px;
  height: 40px;
  background: #1abc9c;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

input[type="checkbox"].green::before {
  position: absolute;
  content: "";
  right: 10px;
  top: 5px;
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  background: #fff;
  border-radius: 50%;
}

.toggle {
  position: relative;
  display: inline;
}
label {
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  pointer-events: none;
}

.yes {
  right: 65px;
  transform: translateY(8px);
}

/* ///////////////// Style for Grey Button //////////////////////  */
input[type="checkbox"].grey {
  position: relative;
  width: 100px;
  height: 40px;
  background: #d8d8d8;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

input[type="checkbox"].grey::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 5px;
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  background: #fff;
  border-radius: 50%;
}

.no {
  left: 65px;
  transform: translateY(8px);
}


.changeButtonComp{
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  margin-top: 100px;
  height: 1000px;
}

.h1{
  margin-bottom: 20px;

}